:root {
    --color-primary: #ff0000;
    --color-secondary: #00ff00;
    --color-tertiary: #0000ff;   
}


body {
    background-color: #2a2a40;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
